/* -----------------------------------------------------------------------------
  ESTILIZAÇÃO DAS TABS
  
----------------------------------------------------------------------------- */
.container{
    background-color:#212121;
    border: 0;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.listContainer{
  background-color:#212121;
  font: 400 13.3333px Arial;
  width: 100%;
}

.listItem :global(.vtex-button){
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: thin solid #59ff00;
  height: 50px;
  width: 150px
  
}

.listItem :focus{
  color: #59ff00;
 }


/* container
contentContainer
contentItem
listContainer
listItem
listItemActive
listItemChildren
listItemChildrenActive */