/* -----------------------------------------------------------------------------
  ESTILIZAÇÃO DAS TABS
  
----------------------------------------------------------------------------- */
.container{
    background-color:#212121;
    border: 0;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.listContainer{
  background-color:#212121;
  padding: 6px 12px;
  font-size: 0.875rem;
  min-height: 48px;
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  line-height: 1.75;
  white-space: normal;
  text-transform: uppercase;
  width: 100%;
}

.listItem :global(.vtex-button){
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: thin solid #59ff00;
  height: 50px;
  width: 150px
  
}

.listItem--leadLanding {
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom:0;
  height: 50px;
  width: 150px
  
}



.listItem :focus{
  color: #59ff00;
 }


/* container
contentContainer
contentItem
listContainer
listItem
listItemActive
listItemChildren
listItemChildrenActive */