/* -----------------------------------------------------------------------------
  ESTILIZAÇÃO DO SEARCH-RESULT
  
----------------------------------------------------------------------------- */

.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items:stretch;
    justify-content: center;
}
